{% extends 'bolao_main/base.html' %}

{% block title %} Apurar GPrix {% endblock %}

{% block body %}

<form method='post'>{% csrf_token %}
    
    <div class="container-fluid">
        <div class="form-group panel panel-default col-xs-12 col-md-6" style="margin-bottom: 20px">
            <h3>Escolha o GP para apurar as apostas</h3>
            {{ form.as_p }}
            
            <input type='submit' class="btn btn-primary" value='Apurar'>
            <a href="{% url 'bolao_main:index' %}" class="btn btn-info" role="button">Cancelar</a>
            <p> </p>
        </div>
    </div>

</form>

{% endblock %}