{% extends 'bolao_main/base.html' %}

{% block title %} Visualizar Aposta {% endblock %}

{% block body %}

{% if posts %}

<div class="container-fluid">
    
    <!--Loop over posts-->
    {% for post in posts %}
    
    <div class="row featurette panel panel-default col-sm-offset-2 col-sm-8 col-md-8 col-lg-offset-3 col-lg-6">
        
        <div>
            <h3 class="featurette-heading">{{ post.title }} <br><span
                    class="text-muted small">{{ post.posted }}</span></h3>
            
            {% include 'bolao_main/make_bet_post.html' %}
        
        </div>
    
    </div>
    <hr class="row featurette-divider col-md-4 col-lg-12" style="margin-top: 0px; margin-bottom: 20px;">
    
    {% endfor %}
</div>
{% else %}
<div class="row featurette panel panel-default col-sm-offset-2 col-sm-8 col-md-8 col-lg-offset-3 col-lg-6"
style="text-align: center; padding-bottom: 40px;">
    <h3>Nenhuma aposta encontrada!</h3>
</div>
{% endif %}
{% endblock %}