{% extends 'bolao_main/base.html' %}

{% block title %} Visualizar Apostas {% endblock %}

{% block body %}

<form method='post'>{% csrf_token %}
    
    <div class="container-fluid">
        <div class="row">
            <div class=" col-xs-0 col-sm-3 col-md-4 col-lg-4"></div>
            <div class="form-group panel panel-default col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom: 20px">
                <h3>Escolha o GP para visualizar as apostas</h3>

                {{ form.as_p }}

                <input type='submit' class="btn btn-primary" value='Visualizar'>
                <a href="{% url 'bolao_main:index' %}" class="btn btn-info" role="button">Cancelar</a>
                <p> </p>
            </div>
        </div>
    </div>

</form>

{% endblock %}