<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Borracheiros{% endblock %}</title>
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'bolao_main/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body>


<!-- Adding the navbar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        
        <!--Header-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'bolao_main:index' %}">Borracheiros</a>
        </div>
        
        <!--Items-->
        <div class="collapse navbar-collapse" id="topNavBar">
            
            <!--<ul class="nav navbar-nav">-->
                <!--<li>-->
                    <!--<a href=http://www.F1.com>-->
                        <!--<span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; F1-->
                    <!--</a>-->
                <!--</li>-->

            <!--</ul>-->
            
            <ul class="nav navbar-nav navbar-right">
                
                <!--Only for authenticated users - Show apostar-->
                {% if request.user.is_authenticated %}
                <li class="">
                    <a href="{% url 'bolao_bet:bolao_bet-add' %}">
                        <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>&nbsp; Apostar
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'bolao_bet:bolao_bet-results' %}">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Resultados
                    </a>
                </li>
                {% endif %}
                
                <!--Only for staff users - Show advanced options -->
                {% if request.user.is_staff %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'bolao_info:info-selectgp' %}">
                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Atualizar GP
                        </a></li>
                        <li><a href="{% url 'bolao_bet:bolao_bet-process' %}">
                            <span class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></span> Apurar GP
                        </a></li>
                        <li><a href="{% url 'bolao_bet:bolao_bet-clearsecret' %}">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Remover Segredo
                        </a></li>
                        <!--<li><a href="#" data-toggle="modal" data-target="#myCUPModal">-->
                        <li><a href="{% url 'bolao_main:main-cup' %}">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Alterar Senhas
                        </a></li>
                    </ul>
                </li>
                
                {% include 'bolao_main/login_modal.html' %}
                
                {% endif %}
                
                <!--Only for authenticated users - Show user menu-->
                {% if request.user.is_authenticated %}
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">{{ request.user.first_name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'bolao_bet:bolao_bet-view' %}"><span class="glyphicon glyphicon-dashboard"
                                aria-hidden="true"></span> Apostas</a>
                        </li>
                        <li><a href="{% url 'bolao_main:main-userdetail' %}"><span class="glyphicon glyphicon-user"
                                aria-hidden="true"></span> Perfil</a>
                        </li>
                        <li><a href="{% url 'bolao_main:main-cownp' %}"><span class="glyphicon glyphicon-lock"
                                aria-hidden="true"></span> Alterar Senha</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'bolao_main:main-logout' %}"><span class="glyphicon glyphicon-off"
                                aria-hidden="true"></span> Log
                            Out</a></li>
                    
                    </ul>
                </li>
                
                {% else %}
                
                <!--Or show login button-->
                <li>
                    <a href="#" data-toggle="modal" data-target="#myloginModal">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Login
                    </a>
                </li>
                
                {% include 'bolao_main/login_modal.html' %}
                
                {% endif %}
            
            </ul>
        
        </div>
    </div>


</nav>

{% block content %}
{% endblock %}

{% block body %}
{% endblock %}


</body>
</html>