{% extends 'bolao_main/base.html' %}

{% load staticfiles %}

{% block body %}

<div class="container">
    <div class="row">
        <!--Messages displsy-->
        <div class="col-md-offset-0 col-md-12 col-lg-offset-1 col-lg-10">
            
            <img class="img-rounded center-block"
                    style="display: block; max-width: 80%; height: auto"
                    src="{% static 'bolao_main/images/Logo.png' %}">
            
            <hr class="featurette-divider"
                    style="margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px;">
        
        </div>
    </div>
</div>


{% if messages %}
<div class="row">
    <!--Messages displsy-->
    <div class="col-md-offset-1 col-md-10 col-lg-offset-4 col-lg-4">
        <div class="panel panel-default" style="text-align: center; padding-top: 10px;">
            <ul class="messages list-unstyled">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}><strong style="color: red;
                font-size: 150%;">{{ message }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

<div class="container marketing">
    
    <!-- Three columns of text -->
    <div class="row">
        <!--Championship Ranking-->
        <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-0">
            <div class="panel panel-default">
                <h3 class="text-muted" style="text-align:center">Classificação Geral</h3>
                
                <ul class="list-unstyled" style="text-align:center">
                    <li>
                        <hr class="featurette-divider"
                                style="margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px;">
                    </li>
                    {% if last_race != None %}
                    <li class=""><h3>Bolão {{ last_race.year }}</h3></li>
                    {% else %}
                    <li class=""><h3>Não Disponível</h3></li>
                    {% endif %}
                    <li>
                        <hr class="featurette-divider"
                                style="margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px;">
                    </li>
                </ul>
                
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                        {% if last_race != None %}
                        <table class="table table-striped"
                                style="margin-left: 0%;text-align:left;text-transform:uppercase;font-weight:500;color:#808080;font-size:18px;font-size:1.5rem">
                            <thead>
                            <tr>
                                
                                <th>Apostador</th>
                                <th>Pontos</th>
                            
                            </tr>
                            </thead>
                            <tbody style="text-align:left">
                            
                            {% load app_filters %}
                            {% for item in ranking_list_user %}
                            
                            {% if forloop.counter == 1 %}
                            <tr style="background-color:#ffffb3;">
                                {% elif forloop.counter == 2 %}
                            <tr style="background-color:#cccccc;">
                                {% elif forloop.last %}
                            <tr style="background-color:#ffc266;">
                                {% else %}
                            <tr>
                                {% endif %}
                                
                                <td>{{ item }}</td>
                                <td class="strong">{{ ranking_list_points|getlistitem:forloop.counter0 }}</td>
                            
                            </tr>
                            
                            {% endfor %}
                            
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                
                </div>
            </div><!-- panel -->
        </div><!-- Championship Ranking -->
        
        <!--Last Race results-->
        <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-0">
            <div class="panel panel-default">
                <h3 class="text-muted" style="text-align:center">Último Resultado</h3>
                
                <ul class="list-unstyled" style="text-align:center">
                    <li>
                        <hr class="featurette-divider"
                                style="margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px;">
                    </li>
                    {% if last_race != None %}
                    <li class=""><h3>{{ last_race.country }} {{ last_race.year }}</h3></li>
                    {% else %}
                    <li class=""><h3>Não Disponível</h3></li>
                    {% endif %}
                    <li>
                        <hr class="featurette-divider"
                                style="margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px;">
                    </li>
                </ul>
                
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                        {% if last_race != None %}
                        <table class="table table-striped"
                                style="margin-left: 0%;text-align:left;text-transform:uppercase;font-weight:500;color:#808080;font-size:18px;font-size:1.5rem">
                            <thead>
                            <tr>
                                
                                <th>Apostador</th>
                                <th>Pontos</th>
                            
                            </tr>
                            </thead>
                            <tbody style="text-align:left">
                            
                            {% load app_filters %}
                            {% for item in last_gp_results_user %}
                            
                            {% if forloop.counter == 1 %}
                            <tr style="background-color:#ffffb3;">
                                {% elif forloop.counter == 2 %}
                            <tr style="background-color:#cccccc;">
                                {% elif forloop.last %}
                            <tr style="background-color:#ffc266;">
                                {% else %}
                            <tr>
                                {% endif %}
                                
                                <td>{{ item }}</td>
                                <td class="strong">{{ last_gp_results_points|getlistitem:forloop.counter0 }}</td>
                            
                            </tr>
                            
                            {% endfor %}
                            
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div><!-- panel -->
        </div><!-- last race results -->
        
        <!--Next race-->
        <div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-0">
            <div class="panel panel-default">
                
                <h3 class="text-muted" style="text-align:center">Próximo Grand Prix</h3>
                
                <ul class="list-unstyled" style="text-align:center">
                    <li>
                        <hr class="featurette-divider"
                                style="margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px;">
                    </li>
                    {% if next_race != None %}
                    <li class=""><h3>{{ next_race.country }} {{ next_race.year }}</h3></li>
                    {% else %}
                    <li class=""><h3>Não Disponível</h3></li>
                    {% endif %}
                    <li>
                        <hr class="featurette-divider"
                                style="margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px;">
                    </li>
                </ul>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                        {% if next_race != None %}
                        <table class="table table-condensed no-border "
                                style="padding:0px 0px 0px;text-align:center;text-transform:uppercase;">
                            <tbody>
                            <tr>
                                <td><h5>FP1</h5></td>
                                <td><h5>{{ next_race.fP1_date|date:'d/m/Y H:i'}}</h5></td>
                            </tr>
                            <tr>
                                <td><h5>FP2</h5></td>
                                <td><h5>{{ next_race.fP2_date|date:'d/m/Y H:i'}}</h5></td>
                            </tr>
                            <tr>
                                <td><h5>FP3</h5></td>
                                <td><h5>{{ next_race.fP3_date|date:'d/m/Y H:i'}}</h5></td>
                            </tr>
                            <tr>
                                <td><h5>QUALI</h5></td>
                                <td><h5>{{ next_race.quali_date|date:'d/m/Y H:i'}}</h5></td>
                            </tr>
                            <tr>
                                <td><h5>RACE</h5></td>
                                <td><h5>{{ next_race.race_date|date:'d/m/Y H:i'}}</h5></td>
                            </tr>
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
                {% if next_race != None %}
                <img class="img-rounded center-block"
                        src="{% static 'bolao_info/images/' %}{{ next_race.image_static }}" width="150" height="150"
                        alt="Generic placeholder image" width="140" height="140">
                {% endif %}
            
            </div> <!-- panel -->
        </div><!-- next race -->
    </div><!-- /.row -->
    
    
    <!-- START THE Stream -->
    <div class="container-fluid">
        <div class="row featurette col-md-offset-4 col-md-4 col-lg-offset-3 col-lg-6">
            <div>
                <h1 class="featurette-heading align-center">
                    <center>Stream</center>
                    <br></h1>
            </div>
        </div>
    </div>
    <hr class="featurette-divider" style="margin-top: 0px; margin-bottom: 20px;">
    
    <!--Check for posts-->
    {% if posts %}
    
    <div class="container-fluid">
        
        <!--Loop over posts-->
        {% for post in posts %}
        
        <div class="row">
            
            <div class="featurette panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-8">
                <h3 class="featurette-heading">{{ post.title }} <br><span
                        class="text-muted small">{{ post.posted }}</span></h3>
                
                {% include 'bolao_main/make_bet_post.html' %}
            
            </div>
        
        </div>
        
        <hr class="row featurette-divider col-md-4 col-lg-12" style="margin-top: 0px; margin-bottom: 20px;">
        
        {% endfor %}
    
    </div>
    
    {% endif %}
    
    <!-- /END THE FEATURETTES -->
    
    
    <!-- FOOTER -->
    
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 JMarcelo &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->


{% endblock %}

{% block content %}


{% endblock %}